* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E0C097;
  margin: 0;
  position: absolute;
}

h2, h3, p, ul {
  font-family: "Roboto", sans-serif;
  color: #2D2424;
}

a, a:hover {
  text-decoration: none;
  color: #000000;
}

.borde {
  border-bottom: 1px solid #2D2424;
}

#nosotros img, .caja, #inicio img {
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
}

header {
  box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

#footer nav {
  box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
}

header {
  background-color: #D5A37C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 2% 0 2%;
  max-height: 11em;
  flex-wrap: wrap;
}
header li {
  font-size: 100%;
  text-align: end;
}

#logo-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
#logo-title img {
  display: flex;
  width: 40%;
  max-width: 10em;
  padding: 3%;
}

.dropdown-menu {
  background-color: #D5A37C;
  box-shadow: 20px 20px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

.btn {
  background-color: #D5A37C;
}
.btn:hover, .btn:active, .btn:focus {
  background-color: rgba(224, 192, 151, 0.1294117647);
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
  background-color: rgba(224, 192, 151, 0.1294117647);
  color: black;
}

#nosotros img, .caja, #inicio img {
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
}

header {
  box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

#footer nav {
  box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
}

#inicio {
  display: flex;
  margin: 2% 10%;
}
#inicio p {
  display: flex;
  margin: 3% 7%;
  padding: 0 15% 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.3em;
}
#inicio img {
  width: 21%;
  object-fit: cover;
  border-radius: 50% 2% 50% 2%;
}

@media (max-width: 768px) {
  #inicio {
    flex-wrap: wrap;
    justify-content: center;
    margin: 6%;
    padding: 0;
  }

  #inicio img {
    width: 50%;
    margin-bottom: 6%;
  }

  #inicio p {
    margin: 3% 5%;
    padding: 0;
  }
}
#nosotros img, .caja, #inicio img {
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
}

header {
  box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

#footer nav {
  box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
}

#gato-perro {
  display: flex;
  padding: 1px;
  margin: 2% 10%;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
#gato-perro h2 {
  display: flex;
  justify-content: center;
  margin: 0 0 2% 0;
}

.caja {
  display: inline-block;
  overflow: hidden;
  border-radius: 3%;
}

#gato, #perro {
  width: 30%;
  margin: 0;
}
#gato img, #perro img {
  width: 100%;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}
#gato img:hover, #perro img:hover {
  transform: scale(1.1);
  transition: all 1s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.text {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 16% 10%;
  text-align: justify;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 577px) and (max-width: 768px) {
  #gato-perro {
    flex-wrap: wrap;
    margin: 3% 10%;
  }

  .text {
    order: -1;
    padding: 3% 0;
    width: 100%;
  }

  #gato-perro h2 {
    font-size: 1.5em;
  }

  #gato, #perro {
    width: 40%;
  }
}
@media (max-width: 576px) {
  #gato-perro {
    flex-direction: column;
    align-items: center;
    margin: 3% 10%;
  }

  .text {
    order: -1;
    padding: 3% 0;
    width: 100%;
  }

  #gato-perro h2 {
    font-size: 1.5em;
  }

  #gato, #perro {
    width: 60%;
    margin-bottom: 7%;
  }
}
#nosotros img, #inicio img, .caja {
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
}

header {
  box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

#footer nav {
  box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
}

#nosotros {
  display: grid;
  margin: 2% 10%;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  line-height: 1.5em;
  grid-template-areas: "nos-h2 nos-img" "p1 nos-img" "p2 nos-img" "p3 nos-img";
  grid-template-columns: 5fr 3fr;
  column-gap: 5%;
}
#nosotros img {
  object-fit: cover;
  width: 100%;
  max-height: 23em;
  border-radius: 3%;
}

.nos-h2 {
  grid-area: nos-h2;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}

.nos-img {
  grid-area: nos-img;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 577px) and (max-width: 768px) {
  #nosotros {
    grid-template-areas: "nos-h2 nos-h2" "p1 p1" "p2 p2" "p3 nos-img";
    grid-template-columns: 4fr 6fr;
    column-gap: 5%;
  }

  .nos-img {
    margin-bottom: 2%;
  }
}
@media (max-width: 576px) {
  #nosotros {
    grid-template-areas: "nos-h2 nos-h2" "p1 p1" "p2 p2" "p3 p3" "nos-img nos-img";
    grid-template-columns: 4fr 6fr;
    column-gap: 5%;
  }

  .nos-img {
    margin-bottom: 4%;
  }
}
#ayudar {
  margin: 2% 10%;
}
#ayudar h2 {
  margin: auto auto 2%;
}
#ayudar a {
  background-color: #D5A37C;
}

#contenido {
  display: flex;
  justify-content: space-between;
  line-height: 1.7em;
  text-align: start;
  margin-bottom: 2%;
}

#mp {
  margin: 0 0 5%;
}
#mp ul {
  list-style: none;
}

#banco ul {
  list-style: none;
}

#otros {
  margin: 0 4%;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */
@media (max-width: 768px) {
  #otros {
    margin-bottom: 5%;
  }

  #contenido {
    display: flex;
    flex-direction: column;
  }

  #otros {
    margin: 0;
  }

  #otros ul {
    margin-left: 6%;
  }
}
#donaciones {
  display: flex;
  flex-direction: column;
  margin: 3% 5%;
  line-height: 1.7em;
  text-align: start;
}
#donaciones h2 {
  margin-bottom: 2%;
}

#objetos {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2%;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 577px) and (max-width: 768px) {
  #donaciones {
    margin: 3% 10%;
  }

  #donaciones h2 {
    margin-right: 10%;
    text-align: start;
  }

  #objetos {
    display: flex;
    flex-direction: column;
  }

  .lista {
    margin: 1% 0;
  }
}
@media (max-width: 576px) {
  #donaciones {
    margin: 3% 10%;
  }

  #donaciones h2 {
    margin-right: 0;
    text-align: start;
  }

  #objetos {
    display: flex;
    flex-direction: column;
  }

  .lista {
    margin: 1% 0;
  }
}
#inicio img, .caja, #nosotros img {
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
}

header {
  box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

#footer nav {
  box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadows: 0px 7px 25px 10px rgba(0, 0, 0, 0.75);
}

#footer nav {
  background-color: #D5A37C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 0.5% 0;
}

#socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 2%;
  line-height: 2em;
  list-style: none;
  width: 30%;
}
#socials img {
  width: 1em;
  margin-right: 0.4em;
}

#links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 2%;
  line-height: 2em;
  list-style: none;
  text-align: right;
  width: 30%;
}

#patitas {
  display: flex;
  justify-content: center;
  width: 10%;
}
#patitas img {
  width: 75%;
  padding: 2%;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 577px) and (max-width: 768px) {
  #patitas {
    width: 20%;
  }
}
@media (max-width: 576px) {
  #patitas {
    width: 26%;
  }
}
.disclaimer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
