@import '../components/mapas';
@import '../components/extends';

#footer {
    nav {
        background-color: map-get($header-footer, bg-color);
        display: map-get($header-footer, display);
        justify-content: map-get($header-footer, justify-content);
        align-items: map-get($header-footer, align-items);
        width: 100%;
        font-family: 'Poppins', sans-serif;
        @extend %shadow-footer;
        padding: 0.5% 0;
    }
}

#socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    line-height: 2em;
    list-style: none;
    width: 40%;

    img {
        width: 1em;
        margin-right: 0.4em;
    }

    li {
        padding: 0 1.2em;
        &:hover {
        background-image: linear-gradient(to right, #e0c09721, #e0c09700);
        }
    }
}

#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    line-height: 2em;
    list-style: none;
    text-align: right;
    width: 40%;

    li {
        padding: 0 1.2em;
        &:hover {
        background-image: linear-gradient(to left, #e0c0972f, #e0c09700);
        }
    }
}

#patitas {
    display: flex;
    justify-content: center;
    width: 10%;

    img {
        width: 75%;
        padding: 5% 2%;
    }
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 821px) and (max-width: 1200px) {
    #patitas {
        width: 15%;
    }
}

@media (min-width: 577px) and (max-width: 820px) {
    #patitas {
        width: 18%;
    }
}

@media (max-width: 576px) {
    #patitas {
        width: 26%;
    }
}