@import '../components/mapas';
@import '../components/extends';

#footer {
    nav {
        background-color: map-get($header-footer, bg-color);
        display: map-get($header-footer, display);
        justify-content: map-get($header-footer, justify-content);
        align-items: map-get($header-footer, align-items);
        width: 100%;
        font-family: 'Poppins', sans-serif;
        @extend %shadow-footer;
        padding: 0.5% 0;
    }
}

#socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 2%;
    line-height: 2em;
    list-style: none;
    width: 30%;

    img {
        width: 1em;
        margin-right: 0.4em;
    }
}

#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 2%;
    line-height: 2em;
    list-style: none;
    text-align: right;
    width: 30%;
}

#patitas {
    display: flex;
    justify-content: center;
    width: 10%;

    img {
        width: 75%;
        padding: 2%;
    }
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 577px) and (max-width: 768px) {
    #patitas {
        width: 20%;
    }
}

@media (max-width: 576px) {
    #patitas {
        width: 26%;
    }
}