@import '../components/mapas';
@import '../components/extends';

header {
    background-color: map-get($header-footer, bg-color);
    display: map-get($header-footer, display);
    justify-content: map-get($header-footer, justify-content);
    align-items: map-get($header-footer, align-items);
    margin: 0;
    padding: 0 2% 0 2%;
    max-height: 11em;
    flex-wrap: wrap;
    @extend %shadow-header;

    li {
        font-size: 100%;
        text-align: end;
    }
}

#logo-title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;

    img {
        display: flex;
        width: 40%;
        max-width: 10em;
        padding: 3%;
    }
}

.dropdown-menu {
    background-color: #D5A37C;
    box-shadow: 20px 20px 25px 10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -7px 25px 10px rgba(0, 0, 0, 0.75);
}

.btn {
    background-color: #D5A37C;
    
    &:hover, &:active, &:focus {
        background-color: #e0c09721;
    }
}

.dropdown-item {
    &:hover, &:active, &:focus {
        background-color: #e0c09721;
        color: black;
    }
}
